{:document-id "interp01", :origin "project-authored:JCOMP-002/INTERP01", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "4f7e87527381ed58ae0962e5bba7b1ee2ba0337dda09e799f12ce06bc3827a2a"}
