{:document-id "interp06", :origin "project-authored:JCOMP-002/INTERP06", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "081dbd65925bd4eac3f37a23d032112be09b760f54c8e3ddfcdb934e459c5e4a"}
