{:document-id "interp02", :origin "project-authored:JCOMP-002/INTERP02", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "fb0a410e93d8d64043afdb9287842b4fd26d86e92c8174064b700a29d3743c04"}
