{:document-id "parse06", :origin "project-authored:JCOMP-002/PARSE06", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "14ccf86ddc7c6e4a2c0e41b4ff62626ac8d225f5529182812310326d2ae438cd"}
