{:document-id "parse01", :origin "project-authored:JCOMP-002/PARSE01", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "182b39aa722093105bda89d6323c542635afa3e4b80aed781d16b9e6f553fe98"}
