{:document-id "parse02", :origin "project-authored:JCOMP-002/PARSE02", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "5196400204ec6edc1475ff5ce51231a18868a7c68d3b263ca603dd3b78455bb3"}
