{:document-id "parse03", :origin "project-authored:JCOMP-002/PARSE03", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "380686d22de303e4b5862bb8bc7cc716d12ef4b22f7672c8c732a48b4a2fa23e"}
