{:document-id "parse05", :origin "project-authored:JCOMP-002/PARSE05", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "044d7fc9849f45a94108ecd6ed30d43593453ad2cbfd141939d1ca2d90331f8b"}
