{:document-id "parse08", :origin "project-authored:JCOMP-002/PARSE08", :origin-kind :authored-document, :schema "mcloving.jenkins.source-document/1", :source-sha256 "130e0c1e148c4b9768403bc6cb97e8eeb92650136a6d4729a564bcd08225269b"}
